<% provide(:title, "Home") %>
<h1>StaticPages#home</h1>
<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>
  <h2> DON'T FALL FOR IT </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>

<p><label for="the-button">Just don't click this cat!</label>
  <%=  image_tag("kitten.jpg", alt: "Rails logo", id: "the-cat", onclick: "destroyTheWorld()") %>
</p>
<script type="text/javascript">
    var count = 0;
    var destroyTheWorld = function () {
        console.log("you chose to destroy the world, nice one.")
        count++;
        if (count > 3) {
            alert("destruction of the world commencing");
        } else {
            console.log("shit... they are pushing the button");
        }
    }
</script>
